<h2 style="text-align: center; background-color: #008B8B ;">Welcome to Library Management App</h2>
<img  style ="margin-left: 400px; height: 450; width: 450px;" src="https://www.elibrarysoftware.com/img/library-management-system.jpg" alt="library image"/>
<br>
<br>
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a  class="nav-link active" routerLink="/contactus" href="#">ContactUs</a>
        </li>
      </ul>
    </div>
  </div>
