<h2 style="text-align: center; background-color: #008B8B ;">Welcome to Digital Books App</h2>
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <!-- <li class="nav-item">
          <a class="nav-link active" routerLink="" href="#">Home</a>
        </li> -->
        
          <li class="nav-item">
            <a style="margin-left: 20px;"  class="nav-link active"  href="#">Home/SignIn</a>
          </li>
          <li class="nav-item">
            <a style="margin-left: 20px;"  class="nav-link active" routerLink="/createaccount" href="#">Create Acount</a>
          </li>
          <li class="nav-item">
            <a style="margin-left: 20px;"  routerLink="/createbooks" class="nav-link active"  href="#">Add Book</a>
          </li>
          <li class="nav-item">
            <a style="margin-left: 20px;"  routerLink="/getbooks" class="nav-link active"  href="#">GetAllBooks</a>
          </li>
          <li class="nav-item">
            <a style="margin-left: 20px;"  routerLink="/searchbook" class="nav-link active"  href="#">SearchBooks</a>
          </li>
      </ul>
    
