<ul class="list-group">
    <li *ngFor="let s of books; index as i" class="list-group-item">

        <table>
            <tr>
                
                <td>  Title: {{s.title}},</td>
                <td>  Image: {{s.image}},</td>
                <td>  Category: {{s.category}},</td>
                <td>  Price:{{s.price}},</td>
                <td>  Publisher: {{s.publisher}}</td>
               
                
            <!-- </tr>
            <tr>
                <td>  Image: {{s.title}}</td>
            </tr>
            <tr>
                <td>  Image: {{s.category}}</td>
            </tr>
            <tr>
                <td>  Image: {{s.price}}</td>
            </tr>
            <tr>
                <td>  Image: {{s.publisher}}</td>
            </tr> -->
        </table>
    <!-- <span>
      Image: {{s.image}},
    </span>
    <span>
      Title: {{s.title}},
    </span>
    <span>
     Category: {{s.category}},
    </span>
    <span>
      Book Price: {{s.price}}
    </span>
    <br>
    <span>
        Book Publisher: {{s.publisher}}
      </span> -->
      <br>
    <!-- <button type="button" (click)="deleteRow(s,i)" style="margin-left: 700px; color: red; background-color: red;" class="btn-close" aria-label="Close"></button> -->


    </li>
  </ul>
 